.header {
    background-image: url("../../public/images/pexels-dhiraj-jain-12737656.jpg");
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;


}

.headerCov {
    background: rgba(32, 32, 32, 0.685);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}